node_modules/
dist/
target/
*.local.json
src-tauri/gen/schemas/
src-tauri/gen/android/.gradle/
src-tauri/gen/android/build/
src-tauri/gen/android/app/build/
src-tauri/gen/android/buildSrc/build/
src-tauri/gen/android/local.properties
src-tauri/gen/android/.tauri
